.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../dist/assets/carousel-background.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &-container {
    display: flex;
    width: fit-content;
    height: fit-content;
  }

  @include mobile{
    &-container {
      position: absolute;
      top: 1rem;
      flex-direction: column;
    }
  }

  @include tablet{
    &-container {
      @include centerized-flex;
      flex-direction: column;

    }
  }

  &-arrow {
    background-image: url(../../dist/assets/arrows.svg);
    width: $ArrowSize;
    height: $ArrowSize;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: invert(1);
    cursor: pointer;
    &-left {
      transform: rotate(180deg);
    }
    &-right {
    }

    @include mobile{
      &-left{
        left: 4rem;
      }

      &-right{
        right: 4rem;
      }
    }
  }

  @include mobile{
    &-arrow{
      width: $ArrowSize - 10px;
      height: $ArrowSize - 10px;
      position: absolute;
    }
  }
  
  

  &-image{
    max-height: 20rem;
    display: none;
    &s{
      overflow: hidden;
    max-height: 20rem;
    }

    &-active{
        display: inline;
    }
  }

  @include mobile{
    &-image{
      width: 90vw;
    }
  }
  

  &-dot {
    width: $DotSize;
    height: $DotSize;
    background-color: white;
    border-radius: 50%;
    filter: brightness(30%);
    margin: 0.3rem 0.4rem;

      &-active{
        filter: brightness(100%);

      }
      
    &:hover {
      filter: brightness(100%);
      cursor: pointer;
    }

    &s {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &-section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    &-left {
      width: 60%;
    }
    &-right {
      flex-direction: column;
      text-align: justify;
      justify-content: flex-start;
      align-items: flex-start;
    }

    @include mobile{
      @include centerized-flex;
      padding: 0rem 3rem;
    }
  }

  &-heading {
    margin: 2rem 0;
    text-transform: uppercase;
    font-size: $FontSizeHeading;
    font-weight: bold;
  }

  &-paragraph {
    width: 80%;
    color: #ffffff;
    font-weight: 300;
    
  }

  @include mobile{
    &-paragraph{
      width: 65%;
    }
  }

  &-body {
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }
}
