@keyframes floating {
  50% {
    transform: rotate(-70deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}

@keyframes floating-two {
  50% {
    transform: rotate(-100deg);
  }
  90% {
    transform: rotate(-118deg);
  }
  100% {
    transform: rotate(-120deg);
  }
}

header {
  position: relative;
  min-height: 100%;
  background-image: url("../assets/header-bg.png");
  background-size: cover;
  background-position: center;
  @include centerized-flex;
  & #myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  & .layer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.3);
  }
  & .logo {
    & img {
      filter: invert(1);
      width: 50rem;
    }
  }
  & .bullet {
    position: absolute;
    &-one {
      width: 18%;
      display: block;
      & img {
        animation-duration: 10s;
        animation-name: floating;
        animation-iteration-count: infinite;
        width: 100%;
        transform: rotate(-90deg);
        filter: blur(3px);
      }
      bottom: 15%;
      left: 8%;
    }
    &-two {
      width: 10%;
      display: block;
      & img {
        animation-duration: 8s;
        animation-name: floating-two;
        animation-iteration-count: infinite;
        width: 100%;
        filter: blur(2px);
      }
      top: 15%;
      right: 15%;
    }
    &-three {
      width: 5%;
      & img {
        animation-duration: 8s;
        animation-name: floating-two;
        animation-iteration-count: infinite;
        width: 100%;
        transform: rotate(-120deg);
      }
      bottom: 30%;
      right: 20%;
    }
  }
}