@mixin centerized-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin mobile {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: 992px) {
    @content;
  }
}
