@mixin centerized-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin mobile {
  @media only screen and (max-width: 576px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: 992px) {
    @content;
  }
}

@mixin default {
  @media only screen and (min-width: 992px) {
    @content;
  }
}
