/* operator */
.operator {
  height: 100vh;
  width: 100%;
  padding-top: 40px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/operator/wp.jpg");
  background-position: center;
  background-size: cover;
}

.operator__carousel {
  position: relative;
  height: 80vh;
  width: 70%;
  margin: 0 auto;
  /* border: solid black 4px; */
}

.operator__carousel__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.operator__carousel__track-container {
  /* background: lightblue; */
  height: 100%;
  position: relative;
  overflow: hidden;
}

.operator__carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}

.operator__carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.operator__carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  background: transparent;
  cursor: pointer;
}

.operator__carousel__button--left {
  left: -40px;
}

.operator__carousel__button--right {
  right: -40px;
}

.operator__carousel__button img {
  width: 22px;
  height: 30px;
}

.operator__carousel__nav {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.operator__carousel__indicator1 {
  border: solid black 5px;
  width: 80px;
  height: 80px;
  background-image: url("../assets/operator/logoBlackbeard.png");
  background-size: cover;
  margin: 0 12px;
  cursor: pointer;
}
.operator__carousel__indicator2 {
  border: solid black 4px;
  width: 80px;
  height: 80px;
  background-image: url("../assets/operator/logoBuck.png");
  background-size: cover;
  margin: 0 12px;
  cursor: pointer;
}
.operator__carousel__indicator3 {
  border: solid black 4px;
  width: 80px;
  height: 80px;
  background-image: url("../assets/operator/logoCaveira.png");
  background-size: cover;
  margin: 0 12px;
  cursor: pointer;
}
.operator__carousel__indicator4 {
  border: solid black 4px;
  width: 80px;
  height: 80px;
  background-image: url("../assets/operator/logoGlaz.png");
  background-size: cover;
  margin: 0 12px;
  cursor: pointer;
}
.operator__carousel__indicator5 {
  border: solid black 4px;
  width: 80px;
  height: 80px;
  background-image: url("../assets/operator/logoValkyrie.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 12px;
  cursor: pointer;
}

.operator__current-slide {
  border-color: green;
}

.operator__is-hidden {
  display: none;
}

@media (min-width: 320px) and (max-width: 640px) {
  .operator__carousel {
    height: 180px;
    width: 80%;
  }

  .operator__carousel__indicator1 {
    width: 80px;
    height: 50px;
  }
  .operator__carousel__indicator2 {
    width: 80px;
    height: 50px;
  }
  .operator__carousel__indicator3 {
    width: 80px;
    height: 50px;
  }
  .operator__carousel__indicator4 {
    width: 80px;
    height: 50px;
  }
  .operator__carousel__indicator5 {
    width: 80px;
    height: 50px;
  }
}

@media (min-width: 641px) and (max-width: 961px) {
  .operator__carousel {
    height: 340px;
    width: 80%;
  }

  .operator__carousel__indicator1 {
    width: 90px;
    height: 70px;
  }
  .operator__carousel__indicator2 {
    width: 90px;
    height: 70px;
  }
  .operator__carousel__indicator3 {
    width: 90px;
    height: 70px;
  }
  .operator__carousel__indicator4 {
    width: 90px;
    height: 70px;
  }
  .operator__carousel__indicator5 {
    width: 90px;
    height: 70px;
  }
}
