$ArrowSize: 40px;
$DotSize: 10px;

$FontSizeHeading: 2rem;
$FontSizeBase: 1rem;

$page-padding: 3rem;

//color
$form-color: #fff;

$NavbarColor: #333;
$ButtonColor: #eebe36;

//color

$color-primary: #121212;

$color-secondary-yellow: #fabe22;
$color-secondary-black: #1c1c1c;

$color-accent-pink: #f0546e;
$color-accent-purple: #8e82e8;

//font

$font-color-default: white;

$font-size-default: 2.4rem;
$font-size-caption: 1rem;
