@font-face {
  font-family: "Montserrat-Bold";
  src: url("../assets/fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../assets/fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../assets/fonts/Montserrat-Light.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat-Regular";
  scroll-behavior: smooth;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

.main {
  box-sizing: border-box;
}

@import "./mixin";
@import "./variable";
@import "./index";
@import "./nav";
@import "./event";
@import "./pre-order";
@import "./operator";
@import "./quarantine";
@import "./footer";
